# 2012 Federal Election Commission Database

* 20220214
* reference: 
    - INDENG 243 lecture8.ipynb
    - Data: P00000001-ALL.csv

## Preconfig

In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
plt.rc('figure', figsize=(10, 6))

np.set_printoptions(precision=4)
pd.options.display.max_rows = 40

In [28]:
fec = pd.read_csv('P00000001-ALL.csv', dtype={'contbr_zip':'str'})

In [29]:
random_ix = np.random.randint(0,1001731,10)
random_sample = fec.iloc[random_ix]
random_sample

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num
414829,C00431445,P80003338,"Obama, Barack","KAMINE, JORGE",NORTH BETHESDA,MD,208526688,"SKADDEN, ARPS, SLATE, MEAGHER & FLOM L",ATTORNEY,200.0,18-MAR-12,NaN,NaN,NaN,SA17A,780234
677917,C00431445,P80003338,"Obama, Barack","MERRIMAN, SUZANNE",BAINBRIDGE ISLAND,WA,98110,RETIRED,RETIRED,1000.0,21-FEB-12,NaN,NaN,NaN,SA17A,787803
858327,C00496034,P20002721,"Santorum, Rick","MUELLER, PAULA K.",PHOENIX,AZ,850145521,HOMEMAKER,HOMEMAKER,50.0,16-MAR-12,NaN,NaN,NaN,SA17A,780310
346729,C00431445,P80003338,"Obama, Barack","FRY, RITA ALIESE",CHICAGO,IL,606154303,RAF CONSULTING INC.,CONSULTANT,30.0,31-MAR-12,NaN,X,* OBAMA VICTORY FUND 2012,SA18,780234
283285,C00431445,P80003338,"Obama, Barack","TOWNSEND, SHARON",CORAL SPRINGS,FL,330672856,SHERIDAN HEALTHCARE,PHYSICIAN,250.0,29-SEP-11,NaN,NaN,NaN,SA17A,756218
32070,C00431171,P80003353,"Romney, Mitt","ROTH, LARRY M. MR.",ORLANDO,FL,328021873,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,2000.0,17-FEB-12,NaN,NaN,NaN,SA17A,780124
796124,C00495820,P80000748,"Paul, Ron","MORA, JOSE IGNACIO",POMPTON LAKES,NJ,074421468,SELF EMPLOYED,CONSULTANT,100.0,19-OCT-11,NaN,NaN,NaN,SA17A,779227
878593,C00496034,P20002721,"Santorum, Rick","CHANCELLOR, DIANA",GLENCOE,MO,630382105,HOMEMAKER,HOMEMAKER,2500.0,08-FEB-12,NaN,NaN,CHARGED BACK $2500.00 ON 02/16/2012,SA17A,771852
358272,C00431445,P80003338,"Obama, Barack","HUMPHREY, CLINTON",OVERLAND PARK,KS,66221,UNIVERSITY OF KANSAS MEDICAL CENTER,SURGEON,272.5,31-JAN-12,NaN,X,* OBAMA VICTORY FUND 2012,SA18,775668
311065,C00431445,P80003338,"Obama, Barack","KURYAN, JACOB",ANAHOLA,HI,967030570,AYNET,EXCECUTIVE,250.0,28-APR-11,NaN,NaN,NaN,SA17A,756214

In [30]:
parties = {'Bachmann, Michelle': 'Republican',
           'Cain, Herman': 'Republican',
           'Gingrich, Newt': 'Republican',
           'Huntsman, Jon': 'Republican',
           'Johnson, Gary Earl': 'Republican',
           'McCotter, Thaddeus G': 'Republican',
           'Obama, Barack': 'Democrat',
           'Paul, Ron': 'Republican',
           'Pawlenty, Timothy': 'Republican',
           'Perry, Rick': 'Republican',
           "Roemer, Charles E. 'Buddy' III": 'Republican',
           'Romney, Mitt': 'Republican',
           'Santorum, Rick': 'Republican'}

In [31]:
random_sample.cand_nm.map(parties)

414829      Democrat
677917      Democrat
858327    Republican
346729      Democrat
283285      Democrat
32070     Republican
796124    Republican
878593    Republican
358272      Democrat
311065      Democrat
Name: cand_nm, dtype: object

In [32]:
# Add it as a column
fec['party'] = fec.cand_nm.map(parties)
fec['party'].value_counts()

Democrat      593746
Republican    407985
Name: party, dtype: int64

## Analysis

### Bucketing Donation Amounts

In [33]:
fec_mrbo = fec[fec.cand_nm.isin(['Obama, Barack', 'Romney, Mitt'])]
fec_mrbo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 700975 entries, 411 to 701385
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   cmte_id            700975 non-null  object
 1   cand_id            700975 non-null  object
 2   cand_nm            700975 non-null  object
 3   contbr_nm          700975 non-null  object
 4   contbr_city        700968 non-null  object
 5   contbr_st          700971 non-null  object
 6   contbr_zip         700922 non-null  object
 7   contbr_employer    695594 non-null  object
 8   contbr_occupation  695510 non-null  object
 9   contb_receipt_amt  700975 non-null  float64
 10  contb_receipt_dt   700975 non-null  object
 11  receipt_desc       8064 non-null    object
 12  memo_cd            88534 non-null   object
 13  memo_text          91980 non-null   object
 14  form_tp            700975 non-null  object
 15  file_num           700975 non-null  int64
 16  party              700975 non-null  object
dtypes: float64(1), int64(1), object(15)
memory usage: 96.3+ MB

In [34]:
bins = np.array([0, 1, 10, 100, 1000, 10000,
                 100000, 1000000, 10000000])
labels = pd.cut(fec_mrbo.contb_receipt_amt, bins)
labels

411         (10, 100]
412       (100, 1000]
413       (100, 1000]
414         (10, 100]
415         (10, 100]
             ...
701381      (10, 100]
701382    (100, 1000]
701383        (1, 10]
701384      (10, 100]
701385    (100, 1000]
Name: contb_receipt_amt, Length: 700975, dtype: category
Categories (8, interval[int64]): [(0, 1] < (1, 10] < (10, 100] < (100, 1000] < (1000, 10000] < (10000, 100000] < (100000, 1000000] < (1000000, 10000000]]

In [35]:
grouped = fec_mrbo.groupby(['cand_nm', labels])
grouped.size().unstack(0)

cand_nm              Obama, Barack  Romney, Mitt
contb_receipt_amt
(0, 1]                         493            77
(1, 10]                      40070          3681
(10, 100]                   372280         31853
(100, 1000]                 153991         43357
(1000, 10000]                22284         26186
(10000, 100000]                  2             1
(100000, 1000000]                3             0
(1000000, 10000000]              4             0

In [36]:
#for each bin, what percentage went to each candidate? (rows sum to 1)
bucket_sums = grouped.contb_receipt_amt.sum().unstack(0)
normed_sums = bucket_sums.div(bucket_sums.sum(axis=1), axis=0)
normed_sums

cand_nm              Obama, Barack  Romney, Mitt
contb_receipt_amt
(0, 1]                    0.805182      0.194818
(1, 10]                   0.918767      0.081233
(10, 100]                 0.910769      0.089231
(100, 1000]               0.710176      0.289824
(1000, 10000]             0.447326      0.552674
(10000, 100000]           0.823120      0.176880
(100000, 1000000]         1.000000      0.000000
(1000000, 10000000]       1.000000      0.000000

In [37]:
by_occupation = fec_mrbo.pivot_table('contb_receipt_amt',
                                index='contbr_occupation',
                                columns='party', aggfunc='sum')
over_2mm = by_occupation[by_occupation.sum(1) > 2000000]
over_2mm

party                                      Democrat   Republican
contbr_occupation
ATTORNEY                                11126932.97   5302578.82
CEO                                      2069784.79    353310.92
CONSULTANT                               2459812.71   1404576.94
EXECUTIVE                                1355161.05   2230653.79
HOMEMAKER                                4243394.30   8037250.86
INFORMATION REQUESTED                    4849801.96          NaN
INFORMATION REQUESTED PER BEST EFFORTS          NaN  11173374.84
INVESTOR                                  884133.00   1494725.12
LAWYER                                   3159391.87      7705.20
PHYSICIAN                                3732387.44   1332996.34
PRESIDENT                                1878009.95   2403439.77
PROFESSOR                                2163571.08    160362.12
RETIRED                                 25270507.23  11266949.23

### Donation Statistics by State

In [38]:
grouped = fec_mrbo.groupby(['cand_nm', 'contbr_st'])
totals = grouped.contb_receipt_amt.sum().unstack(0).fillna(0)
totals = totals[totals.sum(1) > 100000]
totals[:10]

cand_nm    Obama, Barack  Romney, Mitt
contbr_st
AK             275353.15      86204.24
AL             537835.48     504882.08
AR             324802.28     105351.50
AZ            1484241.84    1850484.23
CA           23370680.84   10908232.46
CO            2104551.38    1477810.82
CT            2037216.66    3377421.85
DC            4317865.85     999740.50
DE             325394.14      81404.00
FL            7138932.52    8008067.40

In [39]:
percent = totals.div(totals.sum(1), axis=0)
percent[:10]

cand_nm    Obama, Barack  Romney, Mitt
contbr_st
AK              0.761575      0.238425
AL              0.515802      0.484198
AR              0.755084      0.244916
AZ              0.445087      0.554913
CA              0.681780      0.318220
CO              0.587476      0.412524
CT              0.376242      0.623758
DC              0.811994      0.188006
DE              0.799891      0.200109
FL              0.471310      0.528690

---